.header {
    display: grid;
    grid-template: 60px / repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.logo {
    grid-column: 1/2;
}

.car_phone {
    display: none;
}

.logo_phone {
    display: none;
}

.menu_phone {
    display: none;
}

.menu_p {
    grid-column: 2/3;
}

.menu_p ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.a_menu {
    color: black;
    text-decoration: none;
}

.shop_menu {
    display: flex;
}

.shop_e {
    display: none;
}

.category_menu {
    display: flex;
}

.category_e {
    display: none;
}

.menu_s {
    grid-column: 3/4;
    display: flex;
    list-style-type: none;
    justify-content: right;
}

@media (max-width: 764px) {
    .logo {
        display: none;
    }

    .menu_p {
        display: none;
    }

    .menu_s {
        display: none;
    }

    .car_phone {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .logo_phone {
        display: grid;
        grid-column: 2/3;
        align-items: center;
        justify-content: center;
    }

    .menu_phone {
        width: 20px;
        display: grid;
        grid-column: 3/4;
        position: relative;
        justify-content: center;
        background: transparent;
        border: none;
        margin-left: 200px;
    }

    .menu_p {
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 10;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    .menu_p::after {
        content: '';
        z-index: -1;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(171, 171, 171);
        backdrop-filter: blur(5px);
    }
}